@model string

<div class="password-strength" data-password-strength="@Model" aria-live="polite">
    <div class="password-strength__track" aria-hidden="true">
        <span class="password-strength__bar" data-password-strength-bar></span>
    </div>
    <div class="password-strength__summary">
        <span data-password-strength-label>Enter a password</span>
        <span data-password-strength-count>0/5 requirements</span>
    </div>
    <ul class="password-strength__requirements">
        <li data-password-requirement="length">At least 12 characters</li>
        <li data-password-requirement="lowercase">Lowercase letter</li>
        <li data-password-requirement="uppercase">Uppercase letter</li>
        <li data-password-requirement="number">Number</li>
        <li data-password-requirement="symbol">Symbol</li>
    </ul>
</div>
